name: "Create Release"
on:
  workflow_dispatch:
    inputs:
      version:
        description: "Artifact Version"
        required: true
        default: "2.x.x"
      create_release:
        description: "Create Release"
        required: true
        default: "true"

env:
  ARTIFACT_VERSION: ${{ github.event.inputs.version }}
  CREATE_RELEASE: ${{ github.event.inputs.create_release }}

jobs:
  export:
    name: "Create Release"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Zip
        uses: montudor/action-zip@v1
      - name: Create Zip Artifact
        run: zip -qq -r godot_game_tools_v${{ env.ARTIFACT_VERSION }}.zip src
        working-directory: .
      - name: Generate Artifact
        uses: actions/upload-artifact@v2
        with:
          name: Godot Game Tools - v${{ env.ARTIFACT_VERSION }}
          path: godot_game_tools_v${{ env.ARTIFACT_VERSION }}.zip
      - name: Upload Artifact to Release
        if: ${{ env.CREATE_RELEASE == 'true' }}
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: godot_game_tools_v${{ env.ARTIFACT_VERSION }}.zip
          asset_name: Godot Game Tools - v${{ env.ARTIFACT_VERSION }}
          tag: v${{ env.ARTIFACT_VERSION }}
          overwrite: true
          body: v${{ env.ARTIFACT_VERSION }}.zip
